@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
	<div class="container-fluid">

		<!-- AdminDashboardStatistics Start -->
		@await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")
		<!-- AdminDashboardStatistics End -->

		<div class="row">

			<!-- AdminDashboardChart2 Start -->
			@await Component.InvokeAsync("_AdminDashboardChart2ComponentPartial")
			<!-- AdminDashboardChart2 End -->

			<!-- AdminDashboardChart1 Start -->
			@await Component.InvokeAsync("_AdminDashboardChart1ComponentPartial")
			<!-- AdminDashboardChart1 End -->

			<!-- AdminDashboardChart3 Start -->
			@await Component.InvokeAsync("_AdminDashboardChart3ComponentPartial")
			<!-- AdminDashboardChart3 End -->
		</div>

		<div class="row">
			<!-- AdminDashboardCarPricingList Start -->
			@await Component.InvokeAsync("_AdminDashboardCarPricingListComponentPartial")
			<!-- AdminDashboardCarPricingList End -->

			<!-- AdminDashboardCarPricingList Start -->
			@await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial")
			<!-- AdminDashboardCarPricingList End -->
		</div>
	</div>
</div>