@model UpdateLocationDto
@{
    ViewData["Title"] = "UpdateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Lokasyon Veri Girişi</h4>
						<p class="card-subtitle mb-4">Araçların alınıdığı ve teslim edildiği noktalara ait lokasyon bilgisinin girildiği sayfadır. Bilgileri eksiksiz olarak doldurun.</p>

						<form method="post">
							<div class="form-group">
								<input type="hidden" asp-for="LocationId"/>
								<label for="exampleInputLocationName">Lokasyon Adı</label>
								<input type="text" class="form-control" id="exampleInputLocationName" placeholder="Lokasyon Adını Giriniz" asp-for="Name">
							</div>
							<button type="submit" class="btn btn-success waves-effect waves-light">Lokasyon Bilgisini Güncelle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>

